$nice-blue: #1976d2;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    width: 500px;
}
