$nice-blue: #3f51b5;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    border-right: 1px solid $nice-blue;
    border-left: 1px solid $nice-blue;
}
