.app {
    border: 1px solid black;
    box-shadow: 2px 2px 5px;
    display: inline-block;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .todo-list{
        margin-left: -40px;

        li{
            cursor: pointer;
            font-size: 16px;
            width: 70%;
            list-style-type: none;
            display: inline-block;
            padding: 10px 0;

            span{
                display: inline-block;

                &.text{
                    float: left;
                }

                &.delete{
                    float: right;
                }

                &.completed{
                    text-decoration: line-through;
                }
            }
        }
    }

    .visibility-filter{
        padding-top: 15px;

        p {
            display: inline;
            padding: 5px;
            
            &.active{
                cursor: pointer;
                color: chocolate;
            }
        }
    }
}